= simple_form_for @new_job_form, url: jobs_path do |f|
  = f.input :audit_user_id, as: :hidden
  .row
    .col-xs-12.margin-bottom-sm
      = f.input :job_type_class_name, as: :remoteselect, collection: JobManagement::JobType.select_collection, label_method: :first, value_method: :second, label: false, include_blank: false
  .row
    .col-xs-12
      #dependent_forms
        - Dir["app/views/jobs/*"].each do |file|
          - partial_name = File.basename(file,'.html.haml').slice!(1..-1)
          = render "jobs/#{partial_name}", f: f
  .row
    .col-xs-12
      = render 'shared/button_set_form', object: @job
