= content_tag_for :tr, job do
  %td.hidden-sm.hidden-xs= job.id
  %td
    %span.label{class: 'label-' + job.status_option_class_name}= job.display_status_option
  %td.truncate.truncate-50= link_to(job.job_type ? job.job_type.localized_name : '-', job)
  %td.truncate.truncate-50.hidden-sm.hidden-xs= job.message ? job.message.lines.first.try(:chomp) : '-'
  %td.hidden-sm.hidden-xs= job.finished_at ? l(job.finished_at) : '-'
  %td.hidden-sm.hidden-xs= job.started_at ? (Time.mktime(0)+(job.started_at - job.enqueued_at).abs).strftime("%H:%M:%S") : '-'
  %td
    - if job.finished_at
      = (Time.mktime(0)+(job.finished_at - job.started_at).abs).strftime("%H:%M:%S")
    - elsif job.started_at
      = (Time.mktime(0)+(Time.now - job.started_at).abs).strftime("%H:%M:%S")
    - else
      = '-'
  %td.hidden-sm.hidden-xs= job.created_by
  %td.hidden-xs.text-right
    - if job.file.exists?
      %a.btn.btn-xs.btn-warning{href: job_download_path(job)}
        %i.fa.fa-file
        = job.file.original_filename.split('.').last.upcase
    = render 'shared/table_button_set_items', object: job, hide_edit: true, hide_delete: job.is_running?
