%h1= JobManagement::Job.model_name.human(count: 2)

= search_form_for @q, class: 'search-form' do |f|
  .row.margin-bottom-sm
    .col-xs-12.col-sm-8
      = f.input :started_at_casted_date_equals, as: :date_picker
    .btn-group.col-xs-12.col-sm-4
      = render 'shared/button_set_filter'

.row
  .col-md-12
    %table.table.table-striped.table-nowrap
      %thead
        %tr
          %th.hidden-sm.hidden-xs= sort_link(@q, :id)
          %th= sort_link(@q, :status)
          %th= sort_link(@q, :job_type_name)
          %th.hidden-sm.hidden-xs= sort_link(@q, :message)
          %th.hidden-sm.hidden-xs= sort_link(@q, :finished_at)
          %th.nowrap.hidden-sm.hidden-xs= sort_link(@q, :wait_time)
          %th.nowrap= sort_link(@q, :execution_time)
          %th.hidden-sm.hidden-xs.nowrap= sort_link(@q, :created_by)
          %th
      %tbody
        - @jobs.each do |job|
          %tr
            %td.hidden-sm.hidden-xs= job.id
            %td
              %span.label{class: 'label-' + job.status_option_class_name}= job.display_status_option
            %td.truncate.truncate-50= link_to(job.job_type ? job.job_type.localized_name : '-', job)
            %td.truncate.truncate-50.hidden-sm.hidden-xs= job.message ? job.message.lines.first.try(:chomp) : '-'
            %td.hidden-sm.hidden-xs= job.finished_at ? l(job.finished_at) : '-'
            %td.hidden-sm.hidden-xs= job.started_at ? (Time.mktime(0)+(job.started_at - job.enqueued_at).abs).strftime("%H:%M:%S") : '-'
            %td
              - if job.finished_at
                = (Time.mktime(0)+(job.finished_at - job.started_at).abs).strftime("%H:%M:%S")
              - elsif job.started_at
                = (Time.mktime(0)+(Time.now - job.started_at).abs).strftime("%H:%M:%S")
              - else
                = '-'
            %td.hidden-sm.hidden-xs= job.created_by
            %td.hidden-xs.text-right
              - if job.file.exists?
                %a.btn.btn-xs.btn-warning{href: job_download_path(job)}
                  %i.fa.fa-file
                  = job.file.original_filename.split('.').last.upcase
              = render 'shared/table_button_set_items', object: job, hide_edit: true, hide_delete: job.is_running?


= render 'shared/row_button_set_index_page', instances: @jobs, hide_journal: true, hide_export: true, hide_update: false
