- title "#{@job.job_type.localized_name rescue '-'}"

= render :layout => 'shared/row_sticky_content_block', :locals => {:title => @title} do
  = render 'shared/button_set_show', object: @job, hide_audits: true, hide_edit: true

.row
  .col-xs-12
    %dl.dl-horizontal
      %dt= JobManagement::Job.human_attribute_name :id
      %dd= @job.id

      - if @job.job_type
        %dt= JobManagement::JobType.human_attribute_name :name
        %dd= @job.job_type.localized_name || '-'

        %dt= JobManagement::JobType.human_attribute_name :description
        %dd= @job.job_type.localized_description || '-'

        %dt= JobManagement::JobType.human_attribute_name :class_name
        %dd.margin-bottom-md= @job.job_type.class_name || '-'
      - else
        %dt= JobManagement::JobType.model_name.human
        %dd.margin-bottom-md
          %i= t('job_type.not_available')

      %dt= JobManagement::Job.human_attribute_name :options
      %dd
        %table.table
          %tr
            %th= t('job.options_key')
            %th= t('job.options_value')
          - if @job.options
            - @job.options.each do |key, value|
              - if value.present?
                %tr
                  %td= NewJobForm.human_attribute_name key
                  %td= value

      %dt= JobManagement::Job.human_attribute_name :message
      %dd
        - if @job.message.present?
          = simple_format @job.message.gsub(/\n/, '<br/>')
        - else
          = '-'
      %dt= JobManagement::Job.human_attribute_name :enqueued_at
      %dd= l(@job.enqueued_at) rescue nil || '-'

      %dt= JobManagement::Job.human_attribute_name :started_at
      %dd= l(@job.started_at) rescue nil || '-'

      %dt= JobManagement::Job.human_attribute_name :finished_at
      %dd= l(@job.finished_at) rescue nil || '-'

      %dt= JobManagement::Job.human_attribute_name :created_at
      %dd= l(@job.created_at) rescue nil || '-'

      %dt= JobManagement::Job.human_attribute_name :updated_at
      %dd= l(@job.updated_at) rescue nil || '-'

      %dt= JobManagement::Job.human_attribute_name :file
      - if @job.file.exists?
        %dd= link_to @job.file.original_filename, job_download_path(@job)
      - else
        %dd
          %i= t('job.no_file_available')
